/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2018, 12:30:19 PM
    Author     : amclay2
*/

.TextArea {
    -fx-text-fill:black;
    -fx-opacity:1.0;
}